@font-face {
  font-family: "Suisseintl";
  src: url("/Suisse-intl-Regular.woff2") format("woff2"),
    url("/Suisse-intl-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 43vw;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
  border: 0px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(27.5px);
  justify-content: center;
  align-items: flex-start;
}

.pleaseLogin {
  color: white;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5%;
  margin-bottom: 2%;
  font-family: Suisseintl;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
}

.label {
  margin-left: 5%;
  font-family: Suisseintl;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
}

.input {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  width: 84%;
  height: 7vh;
  padding-left: 3%;
  padding-right: 3%;
  border: none;
  border-radius: 7px;
  background: #f4f5f6;
  color: #111;

  font-family: Suisseintl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  opacity: 0.9;
}

.login {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 90%;
  height: 7vh;
  border: none;
  border-radius: 7px;
  background: #f4f5f6;
  color: #1334d0;

  font-family: Suisseintl;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.7px;
}

.signup {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 90%;
  height: 7vh;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;

  font-family: Suisseintl;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
  letter-spacing: 0.7px;
}
/*for line container */
.horizontalLineContainer {
  display: flex;
  align-items: center;
  margin: 10px 5%;
  width: 90%;
}

.horizontalLine {
  flex: 1;
  height: 1px;
  background: #fff;
}

.horizontalLineText {
  margin: 0 10px;
  color: #fff;
  font-family: Suisseintl;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
  letter-spacing: 0.7px;
}
/*FINISH for line container */

.forgotPasswordLink {
  text-decoration: none;
  color: #fff;
  margin-left: 5%;
  font-family: Suisseintl;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
}

/*Media query */
@media screen and (max-width: 630px) {
  .formContainer {
    width: 90vw;
    height: 70vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 15px;
  }

  .pleaseLogin {
    font-size: 30px;
    margin-left: 3%;
  }

  .label {
    font-size: 14px;
    margin-left: 3%;
  }

  .input {
    margin-left: 3%;
    margin-right: 3%;
    width: 92%;
    height: 6vh;
    font-size: 14px;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 5%;
  }

  .login {
    width: 94%;
    height: 6vh;
    font-size: 12px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .signup {
    width: 94%;
    height: 6vh;
    font-size: 12px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .horizontalLineContainer {
    margin: 5px 3%;
    width: 94%;
  }

  .horizontalLineText {
    font-size: 12px;
  }

  .forgotPasswordLink {
    font-size: 14px;
    margin-left: 3%;
  }
}
